APP_PORT=8080
JWT_SECRET=change-me-to-a-long-random-secret
JWT_ISSUER=auth-api
JWT_AUDIENCE=auth-api-users
JWT_REALM=access-to-auth-api
JWT_EXPIRES_MS=86400000
SUPER_KEY=
TG_BOT_TOKEN=
TG_BOT_API_BASE_URL=http://backend:8080
