[submodule "backend"]
	path = backend
	url = https://github.com/MaximOksiuta/InoagentVPNBackend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MaximOksiuta/InoagentVPNFrontend.git
[submodule "tg_bot"]
	path = tg_bot
	url = https://github.com/MaximOksiuta/InoagentVPNTGBot.git
